/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../img/fondo_formularios.jpg);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #e5e5f7;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form_link {
    font-weight: 400;
    color: black;
    background: #444cf7;
    text-decoration: none;
    padding: 10px 10px;
}

.form_link:hover {
    background: #fff;
}

.form_container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group {
    position: relative;
    --color: #5757577e;
}

.form_input {
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1em;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form_input:focus+.form_label,
.form_input:not(:placeholder-shown)+.form_label {
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
    color: #3866f2;
}

.form_label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_submit {
    background: #369BD1;
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus~.form_line,
.form_input:not(:placeholder-shown)~.form_line {
    transform: scale(1);
}

/* Consulta de medios para pantallas pequeñas (móviles) */
@media only screen and (max-width: 425px) {
    .form_title {
        font-size: 1.8rem;
    }

    form {
        padding: 2.5em 2em;
    }
}

/* Ajustes adicionales para pantallas muy estrechas */
@media only screen and (max-width: 320px) {
    body {
        background-size: auto;
    }
}
